---
/**
	* # JDNavItem
  *
	* A component which renders the items which make up the JD-tree navigation bar.
  *
	* Each might be an area, category, or ID. It might be active, or not.
  *
	* This gets called pages^2 times: for every page, it gets called for every
  * item in the navigation sidebar.
  * 
  * JDNavContainer is a 2-column grid. JDNavItem needs to return it two divs:
  * 1. Left, containing a number and some where-you-are-bars.
  * 2. Right, the words.
  *

  */

interface Props {
  acid: "area" | "category" | "id"; // For indentation
  number: string; // For display
  title: string; // For display
  url: string; // Comes in as a simple string
}
const { number, title, url } = Astro.props;

/**
 * Are we generating a navitem for the current page?
 *
 * If the current path that Astro is rendering is the same as the URL passed
 * in by props then yes, this is the active page.
 *
 * Remember, each navitem is generated for each individual page on the site.
 */
const pathname = new URL(Astro.request.url).pathname;
const activePage = pathname.includes(url);
console.log("pathname:", pathname);
console.log("url:", url);
console.log("activePage:", activePage);

// What ACID type are we generating a navitem for?
import jdDetect from "@js/jdDetect";
const acid = jdDetect(number);
---

<!-- <a href={url}> -->
<div>{number}</div>
<div>{title}</div>
<!-- {
    navDivArray.map((navDiv) => {
      console.log("🧭 navDiv:", navDiv);
      return <div class={navDiv.classes}>{navDiv.content}</div>;
    })
  } -->

<style></style>
