---
/**
	# JDNavItem

	A component which renders the items which make up the JD-tree navigation bar.

	Each might be an area, category, or ID. It might be active, or not.

	They're probably going to end up being grid items but just add that as a CSS class later. (Although what's wrong with a bunch of <div>s?)
  */

interface Props {
	number: string; // For display
	title: string; // For display
	acid: "area" | "category" | "id"; // For indentation
	active: boolean; // So we can temporarily disable stuff; default to `true`
	url: string; // So we can use it in an <a href>
}

const { number, title, acid, active = true, url } = Astro.props;
---

<div class="jdnavitem">
	<a href={url}>
		<p>Number: {number}</p>
		<p>Title: {title}</p>
		<p>AC.ID: {acid}</p>
		<p>Active?: {active}</p>
	</a>
</div>

<style>
	.jdnavitem {
		font-family: "Berkeley Mono Trial";
	}
</style>
