---
import BracketsHorizontalTop from "@components/BracketsHorizontal/BracketsHorizontalTop.astro";
import BracketsHorizontalBottom from "@components/BracketsHorizontal/BracketsHorizontalBottom.astro";
import { pages } from "./pages.js";
import { boolean } from "astro/zod.js";

const pathname = Astro.url.pathname;

/**
 * Hack because Netlify builds with a trailing slash and locally does not. Yet.
 * You need to fix that to align them.
 *
 * TODO: that.
 *
 * Until then, if import.meta.env.PROD then we're in Netlify, otherwise not.
 */
let pageIndex;
if (import.meta.env.PROD) {
  pageIndex = pages.findIndex((page) => page.pathname + "/" === pathname);
} else {
  pageIndex = pages.findIndex((page) => page.pathname === pathname);
}
// Hack ends.

let backPath, backTitle, nextPath, nextTitle;

if (pageIndex > 1) {
  backPath = pages[pageIndex - 1].pathname;
  backTitle = pages[pageIndex - 1].title;
}

if (pageIndex < pages.length - 1) {
  nextPath = pages[pageIndex + 1].pathname;
  nextTitle = pages[pageIndex + 1].title;
}

interface Props {
  backNextDisplay: boolean;
}

const { backNextDisplay } = Astro.props;
---

{
  backNextDisplay ? (
    <div class="BackNext">
      <BracketsHorizontalTop label="◁/▶" />
      <div class="back-next-grid">
        {backPath ? (
          <>
            <div class="back-arrow">
              <a href={backPath}>&#x25C1;</a>
            </div>
            <div class="back">
              <a href={backPath}> {backTitle}</a>
            </div>
          </>
        ) : (
          <>
            <div />
            <div />
          </>
        )}
        <div class="spacer">•</div>
        {nextPath ? (
          <>
            <div class="next">
              <a href={nextPath}>{nextTitle}</a>
            </div>
            <div class="next-arrow">
              <a href={nextPath}>&#x25B6;</a>
            </div>
          </>
        ) : (
          <>
            <div />
            <div />
          </>
        )}
      </div>
      <BracketsHorizontalBottom />
    </div>
  ) : null
}

<style lang="scss">
  @use "/src/styles/johnny" as *;

  // @include troubleshooting;

  a:hover {
    background-color: $jd-highlight-colour;
    color: $offwhite;
  }

  .BackNext {
    margin: $space-medium auto;
    padding: $space-medium $space-small;

    @include for-tablet-landscape-up {
      padding: 0;
    }
  }

  .back-next-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2ch 1fr 2ch 1fr 2ch;

    font-family: $monospace;

    margin: 0;

    @include for-tablet-landscape-up {
      margin: 0 2ch;
    }
  }

  .back,
  .back-arrow {
    justify-self: start;
    align-self: center;
  }

  .next,
  .next-arrow {
    justify-self: end;
    text-align: right;
    align-self: center;
  }

  .spacer {
    text-align: center;
    align-self: center;
  }
</style>
