---
export interface Props {
  number: string;
  title: string;
  area: string;
  category: string;
}

import Layout from "./Layout.astro";

const { number, title, area, category } = Astro.props.frontmatter;

// console.log("category:", category);

// TODO if you're on an area, you're just at the root; on a category, you're at
//      an area; on an ID, you're at a category

// Create the URL from the area
const areaUrl = "/" + area.replaceAll(" ", "_").toLowerCase();
// console.log(areaUrl);
let categoryUrl;
if (category) {
  categoryUrl = areaUrl + "/" + category.replaceAll(" ", "_").toLowerCase();
  // console.log(categoryUrl);
}
---

<Layout title={`${number} ${title}`}>
  <div class="jdid-container">
    <div class="jdid monospace">
      {number}
      {title}
    </div>
  </div>
  <div class="jdac monospace">
    <a href={areaUrl}>{area}</a>
    {
      categoryUrl && (
        <span>
          &gt;{" "}
          <a class="jdac-link" href={categoryUrl}>
            {category}
          </a>
        </span>
      )
    }
  </div>
  <div class="jdcontent">
    <slot />
  </div>
</Layout>

<style>
  .monospace {
    font-family: "Berkeley Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
      Consolas, "Liberation Mono", "Courier New", monospace;
  }

  .jdid-container {
    border-bottom: 1px solid var(--jd-highlight-colour);
  }

  .jdid {
    border: 2px solid var(--jd-highlight-colour);
    box-shadow: 3px -1px rgba(82, 5, 2, 1);
    color: var(--jd-bg-colour);
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--jd-offwhitered);
    margin: 1rem;
    width: fit-content;
  }

  .jdac {
    border-bottom: 1px solid var(--jd-highlight-colour);
    font-size: 0.9rem;
    /* padding: 0.5rem 0.5rem 0.5rem 1rem; */
    padding: 0.5rem 2rem 0.5rem calc(2rem);
  }

  .jdac a {
    padding-inline: 0.25rem;
  }

  .jdac a:hover {
    color: var(--offwhite);
    background-color: var(--jd-highlight-colour);
  }

  /* .jdcontent h1 {
    color: red;
  } */

  /* See global.css for .jdcontent styles */
</style>

<!-- Global style for all the stuff in the <slot /> -->
<style is:global>
  .jdcontent {
    line-height: 1.75rem;
    padding: 1rem 1rem 1rem calc(1rem + 2px);
    font-size: 16px;
  }

  .jdcontent h1:first-child,
  .jdcontent h2:first-child {
    margin-top: 0;
  }

  .jdcontent h1,
  h2,
  h3 {
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: var(--jd-bg-colour);
    margin-top: 2rem;
    margin-bottom: 1.25rem;
  }

  .jdcontent h1 {
    font-size: 2.25rem;
  }

  .jdcontent h2 {
    font-size: 1.75rem;
  }

  .jdcontent h3 {
    font-size: 1.5rem;
  }

  .jdcontent p {
    margin: 0.5rem 0;
  }

  .jdcontent code {
    background-color: var(--jd-bg-colour);
    border-bottom: 2px solid var(--jd-highlight-colour);
    color: var(--offwhite);
    padding-inline: 0.25rem;
  }

  .jdcontent ol {
    list-style-type: decimal;
    margin-left: 2ch;
  }

  .jdcontent li {
    list-style-type: disc;
    margin-left: 2ch;
  }

  .jdcontent a {
    text-decoration-line: underline;
    color: var(--jd-highlight-colour);
  }

  .jdcontent a:visited {
    text-decoration-line: none;
    color: var(--jd-bg-colour);
  }

  .jdcontent a:hover {
    background-color: var(--jd-highlight-colour);
    color: var(--offwhite);
  }

  .jdcontent blockquote {
    background-color: var(--jd-offwhitered);
    border: 1px dotted var(--jd-bg-colour);
    border-left: 5px solid var(--jd-bg-colour);
    margin: 2rem 0;
    padding-left: 1.5rem;
    padding-right: 1rem;
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5rem;
    text-indent: -1.7ch;
  }

  .jdcontent blockquote em {
    /* text-decoration: underline; */
    font-style: normal;
  }

  .jdcontent sup {
    font-family: "Berkeley Mono", Monaco, "Cascadia Mono", "Segoe UI Mono",
      "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
      "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  }

  .jdcontent blockquote sup {
    font-style: normal;
  }
</style>
